<!DOCTYPE html>
<html lang="en">
<head>
    <title>Send Url to IDM by Nodejs</title>
</head>
<body class="container">

<main>
    <div style="margin: 0 auto;width: 70%;">
        <h2>Queue was started...</h2><br>
        <a href="/" >Go back</a>
    </div>
</main>

<footer>
   
</footer>

</body>
</html>